<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}To-Do List App{% endblock %}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    /* Add this to your CSS file or in a <style> tag in the head of your HTML */
    .completed {
      text-decoration: line-through;
    }
    input {
      width: 80%;
      border: none;
      outline: none;
      background-color: #545454;
      color: azure;
      padding: 8px;
      
    }

    label[for="id_title"] {
      font-weight: 700;
      font-size: 24px;
    }

  </style>
</head>
<body>
  {% block content %}
  {% endblock %}
  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
